/* CONSTANTS
#3c3d3b
#96c



*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SIDE BAR */
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: linear-gradient(to right, #2c2d2b, #1c1d1b); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 20px; */
  /* GRID STUFFS */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icon-set {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

/* ICONS */
.side-icon {
  color: #96c;
  font-size: 48px;
}

.cv-download {
  margin-bottom: 24px;
}

.first-icon {
  margin-top: 24px;
}

.side-icon:hover {
  color: #74a;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* SIDE BAR */
body {
  background: #1c1d1b;
}
.modular > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modular {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  padding: 10px;
  padding-left: 100px;
}
.modular-item {
  background-image: radial-gradient(circle, #2c2d2b, #1c1d1b);
  border-radius: 32px;
  border-style: solid;
  border-color: #2c2d2b;
  transition: 0.5s;
}
.mod-link:hover {
  background: #74a;
}
.modular .wide {
  grid-column: span 2;
}
.modular .tall {
  grid-row: span 2;
}
.modular .big {
  grid-column: span 2;
  grid-row: span 2;
}
/* Specific Grid Tiles */
.portrait {
  background-image: url(/img/man.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 60%;
}
.portrait:hover {
  background-size: 65%;
  background-color: #181917;
}
