@media screen and (max-width: 630px) {
  #cards .big {
    grid-column: span 1 !important;
  }
  #cards .wide {
    grid-column: span 1 !important;
  }
  .card-content .icon-big {
    margin-top: 14px;
    font-size: 28px;
  }
  .el--2 {
    grid-row: span 2;
  }
  .development {
    display: flex;
    flex-direction: column;
    column-gap: 5%;
  }
  .development-grid {
    margin-top: 0;
  }
}
