* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.head-link {
  font-size: 36px;
  color: #c7c7c7;
}
.head-link:hover {
  color: orangered;
}

#nav-bar {
  display: flex;
  gap: 20px;
}

#header {
  display: flex;
  align-items: center;
  gap: 36px;
  /* position: fixed; */
  width: 100%;
  background-color: rgb(90, 28, 151);
}
/* HEADER */

container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 750px;
}

.intro-section {
}

.main {
  font-size: 48px;
  text-align: center;
}

.supporting-main {
  color: #aaa;
  text-align: center;
}

.self-img {
  height: 400px;
}
