/* CONSTANTS
#3c3d3b
#96c



*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SIDE BAR */
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: linear-gradient(to right, #2c2d2b, #1c1d1b); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 20px; */
  /* GRID STUFFS */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icon-set {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ICONS */
.side-icon {
  color: #96c;
  font-size: 48px;
}

.side-icon:hover {
  color: #74a;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* SIDE BAR */

container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 480px;
  background-color: #000;
}

/* .intro-section { */
/* } */
.section-1 {
  background: #1c1d1b;
}

.main {
  font-size: 48px;
  text-align: center;
  color: #ddd;
}

.supporting-main {
  color: #888;
  text-align: center;
}

.self-img {
  height: 400px;
}
